html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.playAgain {
    color: #333;
    position: fixed;
    bottom: 0;
    left: 50%;
    background-color: #EEE;
    margin-left: -245px;
    border: solid 1px #555;
    border-bottom: none;
    padding: 20px 60px;
    font-size: 70px;
    box-shadow: 0 0 20px #555;
    white-space: nowrap;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    transition: all 1s;
}

.playAgain.hidden {
    display: none;
}

.playAgain:hover {
    box-shadow: 0 0 50px #FFD436;
}

.playAgain:active {
    background-color: #BBB;
}

.playAgain:focus {
    outline:0;
}

.info {
    margin: 10px;
    padding: 5px;
    border-bottom: solid 1px #eee;
    font-size: 20px;
}

.counter {
  float:right;
}

.machine {
  height:150px;
  width:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/slot_machine.png);
  transition: all 1s;
  border: none;
  background-color: white;
  padding: 0;
}

.machine:hover:not(.revealed) {
  background-image: url(/assets/light_slot_machine.png);
  transition: all 0s;
}

.machine:active:not(.revealed) {
  background-image: url(/assets/active_slot_machine.png);
}

.machine:focus {
    outline:0;
}

.machine.revealed {
  background-image: url(/assets/light_slot_machine.png);
}

.average {
  margin-top: -4px;
  margin-left: -37px;
  font-size: 160px;
  color: #FFD436;
  text-shadow: 0 0 20px #555;
    user-select: none;
    transition: all 3s;
    padding: 0;
    line-height: 1;
}

.info {
  display:flex;
  justify-content: space-between;
}

.casino {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  margin-top:20px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.bandit {
    margin: 0 15px;
}

.number {
    font-size: 28px;
    margin-left: 5px;
    margin-top: -5px;
}

.histogram {
  color: #555;
  display:flex;
  flex-direction:row;
  margin-top: 5px;
  width: 100%;
  min-height: 50px;
  padding-left:1px;
}

.histogram .history {
    padding: 2px;
    width:10px;
    text-align: center;
    font-size: 14px;
}

.histogram .bar {
    background-color: #FFD436;
    border-radius: 0 0 2px 2px;
    width: 100%;
}